<script id="satellite-context" type="text/x-handlebars-template">
    <table id="satellite-context-table">
        <tr>
            <td><strong>Orbital Elements</strong></td>
            <td><a target="_blank" data-toggle="tooltip" data-placement="left" title="Learn more about orbits on Wikipedia" href="https://en.wikipedia.org/wiki/Orbital_elements"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Epoch">Epoch</span></td>
            <td id="label-epoch"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Right ascension of the ascending node">RAAN</span></td>
            <td id="label-raan"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Argument of perigee">Arg. Perigee</span></td>
            <td id="label-argp"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Eccentricity">Ecce.</span></td>
            <td id="label-ecce"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Inclination">Inclination</span></td>
            <td id="label-inclination"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Mean motion">Mean motion</span></td>
            <td id="label-mean-motion"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Mean anomaly">Mean anomaly</span></td>
            <td id="label-ma"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="BStar drag term">BStar</span></td>
            <td id="label-drag"></td>
        </tr>
        <tr>
            <td><span data-toggle="tooltip" data-placement="left" title="Number of orbits since launch">Orbit Nr.</span></td>
            <td id="label-orbit-number"></td>
        </tr>
    </table>
</script>