<script id="user-context" type="text/x-handlebars-template">
    <table id="user-context-table">
        <tr>
            <td>Location </td>
            <td><span id="location">{{location}}</span></td>
        </tr>
        <tr>
            <td>Latitude </td>
            <td><span id="latitude">{{latitude}}</span></td>
        </tr>
        <tr>
            <td>Longitude </td>
            <td><span id="longitude">{{longitude}}</span></td>
        </tr>
        <tr>
            <td>Altitude </td>
            <td><span id="altitude">{{altitude}}</span></td>
        </tr>
    </table>
</script>