// Import Bootstrap Compass integration
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



@import "bootstrap-compass";
@import "bootstrap-sprockets";
@import "bootstrap-multiselect";
// Import custom Bootstrap variables
@import "_bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "main-view";
@import "sky-view";
@import "telemetry";