<div id="page-sky" class="container-fluid tabs-page">

    <table id="sky-display">
        <tr>
            <td>Alpha</td>
            <td id="alpha"></td>
        </tr>
        <tr>
            <td>Pitch</td>
            <td id="beta"></td>
        </tr>
        <tr>
            <td>Roll</td>
            <td id="gamma"></td>
        </tr>
    </table>


    <video autoplay id="augmented-reality"></video>


    <div id="sky-overlay">

        <hr id="sky-horizon">

    </div>

</div>